assets/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Config">
<xs:complexType>
<xs:sequence>
	<xs:element name="Voip">
	<xs:complexType>
	<xs:sequence>
                <xs:element name="SipRegistrar">
                    <xs:complexType>
                        <xs:attribute name="url" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="SipTransport">
                    <xs:complexType>
                        <xs:attribute name="type" type="xs:string" use="optional"/>
                        <xs:attribute name="port" type="xs:positiveInteger" use="optional"/>
                        <xs:attribute name="portRange" type="xs:positiveInteger" use="optional"/>
                        <xs:attribute name="qos" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="RtpTransport">
                    <xs:complexType>
                        <xs:attribute name="type" type="xs:string" use="optional"/>
                        <xs:attribute name="port" type="xs:positiveInteger" use="optional"/>
                        <xs:attribute name="portRange" type="xs:positiveInteger" use="optional"/>
                        <xs:attribute name="qos" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Media">
                    <xs:complexType>
                        <xs:attribute name="audioCodec" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Jitter">
                    <xs:complexType>
                        <xs:attribute name="init" type="xs:positiveInteger" use="optional"/>
                        <xs:attribute name="max" type="xs:positiveInteger" use="optional"/>
                        <xs:attribute name="minPrefetch" type="xs:positiveInteger" use="optional"/>
                        <xs:attribute name="maxPrefetch" type="xs:positiveInteger" use="optional"/>
                    </xs:complexType>
                </xs:element>
	</xs:sequence>
	</xs:complexType>
	</xs:element>

        <xs:element name="Audio">
        <xs:complexType>
        <xs:sequence>

            <xs:element name="Line1">
            <xs:complexType>
                <xs:attribute name="capDevName" type="xs:string" use="optional"/>
                <xs:attribute name="capLatency" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:positiveInteger">
                            <xs:enumeration value="100" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>

                <xs:attribute name="playDevName" type="xs:string" use="optional"/>
                <xs:attribute name="playLatency" type="xs:positiveInteger" use="optional"/>
                <xs:attribute name="clockRate"  use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:positiveInteger">
                            <xs:enumeration value="8000"/>
                            <xs:enumeration value="16000"/>
                            <xs:enumeration value="32000"/>
                            <xs:enumeration value="44000" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>

                <xs:attribute name="frameTime" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:positiveInteger">
                            <xs:enumeration value="10"/>
                            <xs:enumeration value="20"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>

            </xs:complexType>
            </xs:element>

            <xs:element name="Line2"/>
        </xs:sequence>
        </xs:complexType>
        </xs:element>

        <!-- todo chck what can be validate else -->
        <xs:element name="Authentication">
        <xs:complexType>
            <xs:attribute name="method" use="optional"/>
            <xs:attribute name="password" use="optional"/>
            <xs:attribute name="staticCardId"  use="optional"/>
        </xs:complexType>
        </xs:element>

        <xs:element name="RoleServer">
        <xs:complexType>
            <xs:attribute name="url"  use="optional"/>
        </xs:complexType>
        </xs:element>

        <xs:element name="PTT">
        <xs:complexType>
            <xs:attribute name="footSwitch" use="optional">
                <!-- todo fill -->
            </xs:attribute>
            <xs:attribute name="line1"  use="optional"/>
            <xs:attribute name="line2"  use="optional"/>
        </xs:complexType>
        </xs:element>

        <!-- Tipro touch screen -->
        <xs:element name="TScreen">
	<xs:complexType>	
	<xs:attribute name="feedback" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="enabled" />
                    <xs:pattern value="disabled" />
                    <xs:pattern value="on" />
                    <xs:pattern value="off" />
                </xs:restriction>
            </xs:simpleType>
	</xs:attribute>
        <xs:attribute name="calibration" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="enabled" />
                    <xs:pattern value="disabled" />
                    <xs:pattern value="on" />
                    <xs:pattern value="off" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
	</xs:complexType>
        </xs:element>

        <!-- uiser interface -->
        <xs:element name="Ui">
            <xs:complexType>
                <xs:attribute name="locale" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="adminpin" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:pattern value="[0-9][0-9][0-9][0-9]" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="terminalType" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:string" />
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="clock" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="enabled" />
                            <xs:pattern value="disabled" />
                            <xs:pattern value="on" />
                            <xs:pattern value="off" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="lights" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="enabled" />
                            <xs:pattern value="disabled" />
                            <xs:pattern value="on" />
                            <xs:pattern value="off" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:complexType>
        </xs:element>

        <!-- 112 tel -->
        <xs:element name="EmergencyCall">
            <xs:complexType>
                <xs:attribute name="uri" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:string" />
                    </xs:simpleType>
                </xs:attribute>
            </xs:complexType>
        </xs:element>

        <!-- network iface -->
        <xs:element name="Network">
        <xs:complexType>
            <xs:attribute name="interface" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string" />
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
        </xs:element>

        <!-- system beeper -->
        <xs:element name="Beeper">
        <xs:complexType>
            <xs:attribute name="dev" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string" />
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
        </xs:element>

        <!-- logging system -->
        <xs:element name="Log">
        <xs:complexType>
            <xs:attribute name="path" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string" />
                </xs:simpleType>
            </xs:attribute>

            <xs:attribute name="std" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="enabled" />
                        <xs:pattern value="disabled" />
                        <xs:pattern value="on" />
                        <xs:pattern value="off" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>

            <xs:attribute name="colors" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string" />
                </xs:simpleType>
            </xs:attribute>

            <xs:attribute name="time" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="enabled" />
                        <xs:pattern value="disabled" />
                        <xs:pattern value="on" />
                        <xs:pattern value="off" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>

            <xs:attribute name="nanotime" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="enabled" />
                        <xs:pattern value="disabled" />
                        <xs:pattern value="on" />
                        <xs:pattern value="off" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>

            <xs:attribute name="short" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="enabled" />
                        <xs:pattern value="disabled" />
                        <xs:pattern value="on" />
                        <xs:pattern value="off" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>

            <xs:attribute name="debugLevel" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="enabled" />
                        <xs:pattern value="disabled" />
                        <xs:pattern value="on" />
                        <xs:pattern value="off" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>

            <xs:attribute name="verbosity" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:enumeration value="0"/>
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="3"/>
                        <xs:enumeration value="4"/>
                        <!-- does it have 5??? -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>

        </xs:complexType>
        </xs:element>

        <xs:element name="Phonebook">
        <xs:complexType>
            <xs:attribute name="src"  use="optional"/>
        </xs:complexType>
        </xs:element>

</xs:sequence>
</xs:complexType>
</xs:element>

</xs:schema>
